# created by virtualenv automatically
.DS_Store
.idea/
__pycache__/
venv/
etc/
bin/
lib/
share/
pyvenv.cfg
data/
features_stratified/
mlruns/
data_physical/

# Local environment file
.env
.env.*
!*.example
